* {
    margin: 0px;
    color: rgb(255,255,255);
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

#container {
    max-width: 1300px;
    min-width: 980px;
    height: 100%;
    background-color:#161515 ;
    margin: auto;
}

#conteudo {
    width: 100%;
}

#post {
    width: 68%;
    float: left;
    margin-top: 50px;
}

header {
    width: 100%;
    height: 50px;    
    position: fixed;
    left: 0;
    z-index: 9999999;
}

header nav {
    width: 100%;
    height: 50px;
    border: 1px solid #4b0082;
    background-color:black;
}

nav ul{
    width: 100%;
    height: 100%;
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: table;
}

header nav ul li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 14px; 
}

header nav ul li:hover {
    background-color: #4b0082;
}

#activeMenu {
    background-color:#4b0082;
}

header nav ul li a{
    font-weight: bold;
    text-decoration: none;
    color: white;    
}

section#espaco-header{
    width: 100%;
    height: 50px;
}

main aside {
    width: 32%;
    height: auto;
    float: left;
    margin-top: 50px;
}

#conteudo-aside{
    width: 80%;
    height: 100%;
    margin-left: 40px;
}

aside h2{
    font-size: 1.0em;
    text-align: center;    
    margin-top: 30px;
}

main h2, h3{
    color: rgb(0,0,0);
    background-color: #4b0082;    
}


main aside figure img{
    width: 100%;
    height: 500px;
    margin-top: 20px;
}

#review img{
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

#titulo-categoria{
    height: 50px;
}

.primeiro :first-child{
    width: 100%;
    height: 454px;
    margin-top: 15px;
}

.primeiro figure{
    width: 90%;
    height: 100%;
    margin: auto;
}
.segundo figure{
    width: 90%;
    height: 100%;
    margin: auto;
}

.primeiro figure img{
    width: 100%;
    height: 100%;
}
.segundo figure img{
    margin-left: 115px;
}

.titulo{
    width: 100%;
    height: 50px;
}

.titulo h3{    
    margin: auto;
    text-align: center;
    margin-top: 40px;
}

.data{
    width: 100%;
    height: 30px;
}

.data p{
    font-size: 0.64em;
    color: #B3B3B3;
    line-height: 1em;    
    text-align: center;
}

.post-texto{
    width: 100%;
    height: auto;
}
.post-texto p{
    width: 90%;
    text-align: justify;
    font-size: 0.9em;;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    color: white;
    line-height: 20px; 
    padding-top: 15px;    
}

.post-texto h3{
    color:  #4b0082;
    text-align: center;
}

.post-texto figure{
    width: 90%;
    height: 100%;
    margin-top: 10px;
    margin: auto;
}

.post-texto figure img{
    width: 100%;
    height: 454px;
}

#espaco {
    width: 100%;
    height: 60px;
}

#linha {
    width: 100%;
    height: 5px;
    background-color: rgb(87, 92, 87);
    opacity: 15%;
}

#tutorial img{
    width: 100%;
    height: 200px;
}