* {
    margin: 0px; /* Retira margem padrão de todos os elementos */
}

body{
    font-family: "Inter", sans-serif;
    background-color: black;
}

#container {
    max-width: 1290px;
    min-width: 1000px;
    height: auto;
    margin: auto;
}

header {
    width: 100%;
    height: 50px;
    background-color:black;
    position: fixed;
    left: 0;
    z-index: 9999999;
    transition: top 0.10s;
}

header nav{
    background-color: rgb(0,0,0);
    width: 100%;
    height: 50px;
    /* As tags abaixo servem para fixar o menu de navegação na página sem que os slides fiquem em cima dele */
    position: fixed;
    z-index: 9999999;
    border: 1px solid #c3e647;
}

#activeMenu {
  background-color: #;
}


nav ul{
    width: 100%;
    height: 100%;
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: table;
}

header nav ul li {
    display: table-cell;
    vertical-align: middle;
    text-align: center; 
}

header nav ul li:hover {
    background-color: #c3e647;
}

header nav ul li a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

main {
    width: 100%; 
    height: auto;
}

#conteudo {
    width: 100%; 
    height: auto;
}

#post {
    width: 100%;
    height: auto;
}

#destaque {
    width: 100%;
    height: auto;
    padding-top: 2%;
}

#menu-cat-destaque-1{
    width: 100%;
    height: 300px;
}

#menu-cat-destaque-2{
    margin-top: 0.8%;
    width: 100%;
    height: 300px;
}

.fig-menu-destaque1{
    width: 420px;
    height: 100%;
    float: left;
}

.fig-menu-destaque2{
    width: 420px;
    height: 100%;
    float: left;
    margin-left: 1.2%;
}

#menu-cat-destaque-1 img{
    width: 100%;
    height: 100%;
}

#menu-cat-destaque-2 img{
    width: 100%;
    height: 100%;
}

.fig-noticia{
    width: 250px;
    height: 80%;
    background-color: rgb(179, 162, 179);   
}


.fig-menu-destaque3{
    width: 420px;
    height: 100%;
    float: right;
  
}

#testes {
    width: 100%;
    height: 40px;
    margin-top: 80px;
    background-color:#D91C71; 
    opacity: 90%;
}

#banner {
    width: 400px;
    height: 40px;
    margin: auto;

}

#banner a{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin: auto;
    margin-left: 60px;
    text-decoration: none;
}

#banner a:hover{
    color:grey;
}


#inferior {
    width: 100%;
    height: 1860px;
    font-family: 'Open Sans', sans-serif;
}

#inferior img:hover {
    opacity: 50%;
}

#post-inferior{
    width: 76%;
    height: 100%;
    float: left;
}

#noticias{
    width: 100%;
    height: auto;
    margin:0;
}

article h3{
    padding-top: 40px;
    color: white;
    margin-left: 6%;;
}

.coluna{
    width: 100%;
    height: 250px;
    margin-top: 10px;
}

.linha{
    width: 90%;
    height: 1px;
    background-color: rgb(54, 54, 54);
    margin-top: 0px;
    margin:auto;
}

.noticia1{
    width: 285px;
    height: 100%;
    float: left;  
    margin-left: 5%;
}

.noticia2{
    width: 285px;
    height: 100%;
    float: left;
    margin-left: 1%;
}

.noticia3{
    width: 290px;
    height: 100%;
    float: left;
    margin-left: 1%;
}

.fig-noticia{
    width: 100%;
    height: 80%;
}

.fig-noticia img{
    width: 100%;
    height: 100%;
}

.descricao{
    width: 100%;
    height: 10%;
    background-color:#D91C71; 
    text-decoration: none;
}

#noticias{
    font-size: 16px;
}

.descricao p {
    text-align: center;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;;
}

aside {
    width: 22%;
    height: 100%;
    float: right;
}

#conteudo-aside{
    width: 100%;
    height: 100%;
}

aside #area-conteudo{
    width: 85%;
    height: 100%;
    float: left;
}

aside #area-conteudo figure{
    width: 100%;
    height: 536px;
    margin-top: 65px;
}

aside #area-conteudo figure img{
    width: 100%;
    height: 100%;
}

footer{
    width: 100%;
    height: 250px;
    margin-top: 160px; 
    background-color: rgb(17, 18, 24);
}

#atendimento{
    width: 100%;
    height:100%;
}

footer article {
    width: 12%;
    height: 98%;
    margin: 4px;
    margin-left: 55px;
    float: left;
}

footer article h3{
    margin: 0;
    color: #c3e647;
}

footer nav {
    width: 100%;
    height: 50px;
    padding: 0;
    position: relative;
}

footer nav ul{
    width: 100%;
    height: 100%;
    margin: 0;
    
}

footer nav ul li {
    margin-top: 10px;
    margin: 0;
}

footer article a{ 
    padding-top: 18px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    opacity: 80%;
}

footer nav ul a:hover {
    color: rgb(177, 46, 177);
}
