*{
    margin: 0;
}

body {
    font-family: arial, verdana, sans-serif;
    font-size: 16px;
    color: #000000;
    padding: 0;
}

nav{
    background-color: rgb(0,0,0);
    width: 100%;
    height: 50px;
}

nav ul{    
    width: 100%;
    height: 100%;
    list-style-type: none; 
    margin: 0;
    padding: 0;
    color: rgb(255,255,255); 
    display: table;  
}

nav li{  
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
}

nav ul li a {
    color: #eeeeee;
    font-weight: bold;
    text-decoration: none; /* retira o underline que é padrão em links */
}

main {
    /* definição de largura máxima e largura mínina para layout semi-fluído */
    max-width: 1024px;
    min-width: 960px;
    height: 100%;
    margin: 0px auto; /* sempre utilizar margin: auto; para centralizar elementos horizoltalmente */
}

#sliderProdutos{
    background-color: rgb(0,0,0);
    width: 100%;
    height: 200px;
    border: 5px solid rgb(255,0,0);
}

section h2{
    margin: 0 0 20px 0;
}

#produtos{
    width: 100%;
    height: 360px;
    border: 5px solid rgb(0,255,0);
}

#produtos article {
    width: 24%;
    height: 90%;
    padding: 0px 4px;
    float: left;
    border-left: 1px dotted #FAA232;
}

#produtos article:last-child {
    border-right: 1px dotted #FAA232;
}

#produtos article:hover {
    background-color: #fab073;
}

#produtos article figure {
    width: 100%;
    height: 128px;
    float:left;    
}

#produtos article figure img{
    margin: 0 25% 0 25%;
}

#produtos article h4 {
    text-align: center;
    font-size: 15px;
    color: #0c6189;
    width: 160px;
    margin: 0 17% 10% 17%;
}

#produtos article p {
    font-size: 13px;
    text-align: center;
    padding: 0 13% 0 13%;
}


